@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Neucha');

body {
  width: 100%;
  /*border-style: border-box;*/
}

header {
  text-align: center;
}

header h1 {
  font-family: 'Rock Salt';
}

.main {
  height: 400px;
  width: 1000px;
  margin: 0 auto;
}

/*
   ----------------------------------------------------------------------------
    GRID
   ----------------------------------------------------------------------------
*/
#canvass {
  height: 400px;
  width: 1000px;
  margin: 0 auto;
  padding: 35px;
  border-radius: 7.5% 2.5%;
  background-color: gray;
}


#grid {
  height: 100%;
  width: 100% ;
  margin: 0 auto;
  display: flex;
  border-style: border-box;
  background-color: white;
}

.column {
  height: 100%;
  border-style: border-box;
}

.column:last-child {
  border-right: 1px solid grey;
}

.column div {
  width: 100%;
  border-style: border-box;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
}

.column div:last-child {
  border-bottom: 1px solid grey;
}

/*
   ----------------------------------------------------------------------------
    TOOLS PANEL
   ----------------------------------------------------------------------------
*/

#tools-panel {
  height: 175px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 25px;
  display: flex;
  padding: 50px 125px 50px;

  border-radius: 25%;
  background-color: black;
  /*border: 1px solid black;*/
}

#color-selector-heading {
  height: 30%;
  width: 100%;
}

#color-picker {
  height: 70%;
  width: 100%;
  position: relative;
  background-color: white;
}

#color-selection {
  height: 75%;
  width: 75%;
  border: none;
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#color-selector {
  height: 100%;
  width: 20%;
  position: relative;
  background-color: white;
}

#color-selector h4 {
  margin: 0;
  text-align: center;
}

#color-selector p {
  margin: 0;
  text-align: center;
  font-family: Neucha;
}

#main-tools {
  height: 100%;
  width: 40%;
  background-color: white;
}

#color-palette {
  height: 65%;
  width: 100%;
  /*border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;*/
}

#color-palette h4 {
  margin: 0;
  text-align: center;
  height: 20%;
}

#color-palette p {
  margin: 0;
  text-align: center;
  margin-top: 10px;
  font-family: Neucha
}

#color-palette .container {
  height: 80%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 15px;
}

#color-palette .container div {
  height: 30%;
  width: 7%;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 20%;
  margin: 1% 2.1%;
}

#brush-styles {
  height: 35%;
  width: 100%;
  /*border-right: 1px solid black;
  border-left: 1px solid black;*/
  display: flex;
  background-color: white;
}



#brush-styles p {
  font-family: Neucha;
  display: flex;
  margin: 0;
  padding-top: 5px;

}

#current {
  height: 100%;
  width: 50%;
}

.current-color, #white {
  height: 50%;
  width: 30%;
  border: 1px solid black;
  margin: 4.5% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;

}

#eraser {
  height: 100%;
  width: 50%;
  /*background-color: #EDA4BA;*/
}

#color-themes {
  height: 100%;
  width: 20%;
  background-color: white;
  /*border-right: 1px solid black;*/
}

#color-themes h4{
  height: 22%;
  width: 100%;
  text-align: center;
  margin: 0;
  font-family: 'Rock Salt';
}

#color-themes .theme {
  height: 26%;
  width: 90%;
  margin: 1% auto;
  display: block;
}

#color-themes #theme-btn {
  height: 50%;
  width: 5%;
  display: inline-block;
}

#color-themes .theme div {
  height: 50%;
  width: 8%;
  display: inline-block;
  border-radius: 15%;
}

#misc {
  height: 100%;
  width: 20%;
  background-color: white;
}

#grid-sizes {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

#misc h4 {
  margin: 0;
  margin-bottom: 7px;
  font-family: 'Rock Salt';

}

/*
   ----------------------------------------------------------------------------
    HEADERS
   ----------------------------------------------------------------------------
*/

h4 {
  font-family: 'Rock Salt'
}


/*
   ----------------------------------------------------------------------------
    BUTTONS
   ----------------------------------------------------------------------------
*/

.btn {
  font-family: Neucha
}

.grid-sizes-btn {
  font-size: 32px;
  background: none;
  border: 2px solid black;
  border-radius: 30% 2%;
  padding: 5px;
  display: inline-block;
  margin-bottom: 2px;
}

.theme-btn {
  font-size: 16px;
  background: none;
  border: 2px solid black;
  border-radius: 30% 2%;
  padding: 5px;
  display: inline-block;
}

/*
   ----------------------------------------------------------------------------
    COLORS
   ----------------------------------------------------------------------------
*/


/*Standard Palette*/

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

#orange {
  background-color: orange;
}

#purple {
  background-color: purple;
}

#green {
  background-color: green;
}

#black {
  background-color: black;
}

#gray {
  background-color: gray;
}

/*Pastel Pallete*/

#pastel-green {
  background-color: #8AFFB0;
}

#pastel-blue {
  background-color: #7DCEFF;
}

#pastel-purple {
  background-color: #B88FFF;
}

#pastel-orange {
  background-color: #FFA500;
}

#pastel-red {
  background-color: #E85747;
}

#pastel-yellow {
  background-color: #FFE35F;
}

#pastel-pink {
  background-color: #E89396;
}

#pastel-bland {
  background-color: #D1D7FF
}

/*Tropical Palette*/

#tropical-blue {
  background-color: #00FFF9;
}

#tropical-green {
  background-color: #87FF00;
}

#tropical-yellow {
  background-color: #FFF300;
}

#tropical-purple {
  background-color: #E80FD5;
}

#tropcial-pink {
  background-color: #E84881;
}

#tropical-red {
  background-color: #E83000;
}

#tropical-orange {
  background-color: #E85616;
}

#tropical-darkblue {
  background-color: #0076FF;
}

/* Eraser Color */

#white {
  background-color: white;
}
